.inner-scroll-table {
    height: 100%;
    flex-grow: 1;
    position: relative;

    .scroll-wrapper {
        position: absolute;

        left: 0;
        right: 0;
        bottom: 0;

        .scroll {
            height: 100%;
            overflow-y: auto;

            thead {
                //border-spacing: 0;

                & > tr {
                    height: 0;

                    th {
                        border: none;
                        padding: 0;

                        .table-header-hidden {
                            height: 0;
                            overflow: hidden;
                        }

                        .table-header {
                            position: absolute;
                        }
                    }
                }
            }
        }
    }
}